.button {

    font: italic 1.2em "Fira Sans", serif;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 black;
    background-color: #C8AC99;
    padding: 16px;
    border-radius: 6px;
    
} 