.card{
	background-color: #D6C2B4;
	text-align:center;
	padding: 10px;
	border-radius: 6px;
	margin: 5px 0;
	box-shadow: 1px 2px 6px 5px black;
}

.card img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 15px;
}

.cards{

 width: 100%;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 15px;

}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
	.cards{ 
		grid-template-columns: 1fr;
	 }
}
/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.cards {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }

.card h4{
	background-color: white;
	border-radius: 15px;
}
.card a{
	text-decoration: none;
}
